<!DOCTYPE html>
<html class="yui3-js-enabled" lang="en">
<head>
	
</head>
<body>



<script>
    //Open up the websocket here
    var ws = new WebSocket("wss://cosawaari.com/ws");

    ws.onopen = function(evt) 
    {
        
    }

    ws.onclose = function(evt)
    {
    }

   
    $('#bookThisCab').click(function()
    {
        
        
            var messageToServer = {messageType:"checkEmailAuthenticityAtNewCabBooking", messageData:"CheckingEmail", 'emailid': emailid};
            
            messageToServer = JSON.stringify(messageToServer);

            ws.send(messageToServer);


        }

    });


    ws.onmessage = function(evt) 
    {
        //alert("Received message");
        messageFromServer = evt.data;
        messageFromServer = JSON.parse(messageFromServer);
        messageType = messageFromServer.messageType;
        
        if (messageType=="SuccessResponse")
        {
            
            

            NAMES = messageFromServer.CustomersNames;
            
            
            else 
            {
                

        }

        else if (messageType=="checkFailedResponse")
        {
            
        }

        
        else if (messageType=="checkEmailAuthenticityResponse")
        {
            


            var fullname = messageFromServer.fullname;






            
            
        }
        
            


    
    
</script>
</body>
</html>

